html, button {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url(https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

h1 {
  font-size: xxx-large;
}

h2{
  font-size: x-large;
}

.main-container:before {
  content:"";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  color: aliceblue;
}


.left-main-container,
.right-main-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  width: 90%;
  justify-content: center;
  justify-self: center;
  margin-top: 3rem;
}

.inputsNumbers-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  background-color: #f7f7f7;
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  font-size: small;
  padding: 0.6rem;
}

.buttonsFunctions-container {
  margin-top: 2.5rem;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: white;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  border-radius: 8px;

}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;

}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: white ;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #fbde74 ;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-size: small;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  border-radius: 8px;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

.descripcionHexagramas-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
  align-items: center;
  box-shadow: inset 0 0 0 4px #58afd1;
  padding: 2rem;
  border-radius: 8px;
}

.tituloDescripcionHexagrama {
  font-size: x-large;
}

.descripcionHexagrama {
  font-size: large;
  margin-bottom: 2rem;
}

.diagramas-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.hexagramaFigura-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid #fbde74;
  border-radius: 8px;
  align-items: center;
  font-size: medium;
}

.tabla-container {
  width: 100%;
  margin-top: 5rem;
}

.hexagramas-table {
  width: 100%;
  font-size: large;
}

td {
  border: 1px solid black;
  border-style: none;
}

.diagrama-resultado {
  width: 205px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.cuadro-resultado {
  color: #f7f7f7;
  background-color: darkmagenta;
}

.tr1 {
  color: #f7f7f7;
  background-color: darkmagenta;
  display: table-row;
  animation: slide-down 1s ease-out;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.tr2 {
  color: #000000;
  background-color: white;
  display: table-row;
  animation: slide-up 1s ease-out;
}

@keyframes slide-up {
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%);
  }
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
}